:root {
  --jse-font-size-mono: 14px!important;
}


.grammar-box {
  /* width: 100px; */
  /* height: 100px; */
  background-color: red;
  transition: transform 0.5s ease-in-out;
}




/* ************************ */

.sidebarGrammar{
  position: fixed; 
  z-index: 10;
  width: 25vw;
  height: 100vh;
  left: 0;
  top: 0;
  transition: 300ms cubic-bezier(.36,-0.01,0,.77);
}
.sidebarGrammar--isHidden{
  margin-left: -25vw;
}

.sidebarGrammar--isOpen{
  margin-left: 25vw;
}